.popup__input {
  min-width: 358px;
  min-height: 26px;
  margin: 30px 36px 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: black;
}

@media screen and (max-width: 550px) {
  .popup__input {
    min-width: 238px;
    margin: 30px 22px 0;
  }
}
