
.profile__add-btn {
  width: 150px;
  height: 50px;
  background-color: transparent;
  border-color: white;
  border-width: 2px;
  justify-self: flex-end;
  align-self: center;
  padding: 0;
  grid-area: add-btn;
}

.profile__add-btn:hover {
  border-color: rgb(255, 255, 255, 0.6);
}

.profile__add-btn:hover .profile__add-btn-icon {
  opacity: 60%;
}

@media screen and (max-width: 659px) {
  .profile__add-btn {
    justify-self: center;
  }
}

@media screen and (max-width: 330px) {
  .profile__add-btn {
    width: 278px;
    margin-top: 36px;
  }
}
