
.popup__form {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fff;
  width: 430px;
  margin: 0 auto 0;
}

@media screen and (max-width: 550px) {
  .popup__form {
    width: 282px;
  }
}
