
.profile__edit-btn {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border-color: white;
  border-width: 1px;
  padding: 0;
  grid-area: edit-btn;
  justify-self: self-start;
  align-self: flex-end;
  margin-bottom: 7px;
  object-fit: contain;
}

.profile__edit-btn:hover {
  border-color: rgb(255, 255, 255, 0.6);
}

.profile__edit-btn:hover .profile__edit-btn-icon {
  opacity: 60%;
}

@media screen and (max-width: 330px) {
  .profile__edit-btn {
    width: 20px;
    height: 20px;
    ;
  }
}
