
.elements__list {
  list-style: none;
  max-width: 880px;
  margin: 0 auto;
  padding: 50px 0 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-between;
}

@media screen and (max-width: 879px) {
  .elements__list {
    justify-content: space-around;
  }
}

@media screen and (max-width: 330px) {
  .elements__list {
    padding: 36px 0 0;
  }
}
